@model Company




<div class="container form_container">

  
           <h1 class="mt-4" style="text-align: center;">@(Model.Id != 0 ? "Update" : "Create") Company</h1>


        <form method="post"   style="max-width:500px; margin:auto "  enctype="multipart/form-data">
        <input asp-for="@Model.Id" hidden>


          <div class="mb-3">
                  <label   asp-for="Name" ></label>
                  <input  asp-for="Name" type="text" class="form-control" style="max-width: 500px;">
                  <span asp-validation-for="Name" class="text-danger" ></span>
               </div>
               <div class="mb-3">
                  <label   asp-for="State" ></label>
                  <input  asp-for="State" type="text" class="form-control" style="max-width: 500px;">
                  <span asp-validation-for="State" class="text-danger" ></span>
               </div>

                <div class="mb-3">
                  <label   asp-for="City" ></label>
                  <input  asp-for="City" type="text" class="form-control" style="max-width: 500px;">
                  <span asp-validation-for="City" class="text-danger" ></span>
               </div>
                <div class="mb-3">
                  <label   asp-for="StreetAddress" ></label>
                  <textarea  asp-for="StreetAddress" type="text" class="form-control" style="max-width: 500px;"></textarea>
                  <span asp-validation-for="StreetAddress" class="text-danger" ></span>
               </div>
                <div class="mb-3">
                  <label  asp-for="PostalCode"  ></label>
                  <input asp-for="PostalCode"  class="form-control" style="max-width: 500px;">
                  <span asp-validation-for="PostalCode" class="text-danger"></span>
               </div>
               <div class="mb-3">
                  <label  asp-for="PhoneNumber"  ></label>
                  <input asp-for="PhoneNumber"  class="form-control" style="max-width: 500px;">
                  <span asp-validation-for="PhoneNumber" class="text-danger"></span>
               </div>
               

               <div class="row">
                  <div class="col-6">
                  <button type="submit" class="btn btn-primary" style="width: 150px;">Save</button>
                  </div>
                  <div class="col-6 text-end">
     <a asp-controller="Company" asp-area="Admin" asp-action="Index" type="button" class="btn btn-success"  > <--  </a>

                  </div>
               </div>
        </form>      
</div>



@section Scripts {


}



